@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(vars.css);

* {
    color: var(--color);
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

html {
    scroll-padding-top: 6em;
}

body {
    background-color: var(--bg-color-body);
}

section {
    margin-bottom: 1em;
}

.navbar {
    margin: 0;
    width: 100vw;
    height: 5em;
    background-color: var(--bg-color-navbar);
    overflow: hidden;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 1em;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.navbar-menu li {
    margin-right: 0 1em;
}

.navbar-menu li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 2em 16px;
}

.navbar-menu li a:hover {
    background-color: var(--bg-color-body);
}

.navbar-toggle{
    display: none;
    background: none;
    border: none;
    color: var(--color);
    font-size: 2em;
    cursor: pointer;
}

#about {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-gap: 5vw;
}

.title {
    color: var(--color);
}

.text {
    margin: 10px;
    padding: 10px;
    width: 45vw;
}

.text p,
ul {
    margin-bottom: 2em;
}

.icon {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 40px;
}

.itens-text {
    margin-left: 20px;
}

.image {
    margin-left: 2vw;
    width: 60vw;
    display: grid;
    grid-template-rows: auto auto;
    margin-right: 25vw;
    justify-content: center;
    margin: 0;
}

.perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.social {
    width: 75px;
    height: 75px;
    margin-right: 2em;
    border-radius: 50%;
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.sections p {
    margin: 10px;
}

.projects {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    gap: 20px;
}

.project {
    text-align: center;
    padding: 10px;
    background-color: var(--bg-color-navbar);
    border-radius: 15px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.project p {
    margin-bottom: 10px;
}

.icons {
    flex-direction: row;
}

.button {
    background-color: var(--bg-color-button);
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
}

.forms {
    padding: 15px;
    background-color: var(--bg-color-navbar);
    border-radius: 15px;
    width: 50vw;
    min-height: 30em;
    display: flex;
    flex-direction: column;
}

.forms input,
textarea {
    width: 100%;
    color: black;
    border: 1px solid #999;
    border-radius: 5px;
}

.forms div {
    margin-bottom: 10px;
}

.forms textarea {
    min-height: 20em;
    vertical-align: top;
}

#toggle-button{
    padding: 0;
    margin: 0;
    background-color:var(--bg-color-navbar);
    border: none;
}

#toggle-button img{
    height: 30px;
    width: auto;
}

@media (max-width:768px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project {
        width: 90vw;
    }

    .button {
        width: 40%;
        height: auto;
    }

    .forms {
        width: 90vw;
    }

    #about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
    }

    .image {
        width: 100vw;
        justify-content: center;
        margin: 0;
    }

    .text {
        width: 100vw;
    }

    .navbar{
        overflow: visible;
    }

    .navbar-container{
        justify-content: left;
    }

    .navbar-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 5em;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 9999 !important;
    }

    .navbar-menu li{
        margin: 0;
        text-align: center;  
        background-color: var(--bg-color-navbar);
        list-style: none;
    }

    .navbar-toggle{
        display: block;
    }
}