@import url(https://fonts.googleapis.com/css?family=Poppins);

*{
    color: aliceblue;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    background-color: #242424;
}